@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Work+Sans&display=swap');
body {
    background-color: #f5cd99;
    color: black;
    padding: 1em;
    font-family:'Work Sans'
}
#timeline {
    width:100%;
    height: auto;
    padding:0.5rem 0;
}   
h1 {
    text-align: center;
    font-family: 'Permanent Marker';
    margin-bottom: 2rem;
}
h2 {
    text-align: center;
    font-family: 'Permanent Marker';
    margin: 1.5rem 0;
}